.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    gap: 1rem;

    .single-project-container {
        margin: 0 auto;
        flex-direction: column;
        width: 75%;

    }
}

@media (min-width:$md) {
    .loading.default {
        width: 550px;
        max-width: 630px;
    }
}