@import '../default/variables.scss';

.single-project-nav {
    display: none;

    @media (min-width: 768px) {
        display: block;
        width: fit-content;

        ul {
            padding: 0;
            margin: 4.5rem 0;
            list-style: none;
            position: sticky;
            top: 9rem;
        }

        li {
            padding: .7rem;
        }

        a {
            width: 1rem;
            height: 1rem;
            padding: .7rem;
            color: $primary-white-color;
            background-color: $primary-color;
        }

        span {
            display: none;
        }
    }
}

.single-project {
    h1 {
        padding: .7rem;
        text-align: center;
        background-image: url(../../images/single-h1-bg.svg);
        background-size: cover;
        color: $primary-white-color;
        margin: 0 calc(50% - 50vw);
    }

    &-banner {
        display: block;
        width: 100vw;
        max-width: 100vw;
        margin: calc(50% - 50vw);
        position: relative;
        z-index: -99;

        img {
            height: 25rem;
            object-fit: cover;
        }
    }

    &-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: .7rem;
        position: absolute;
        bottom: 2rem;
        left: 1rem;

        div {
            width: fit-content;
            padding: .5rem;
            border: 1px solid $primary-color;
            background-color: $surface-color;
            border-radius: $small-button-border-radius;
        }

        a {
            padding: .5rem;
            color: $primary-color;
        }
    }

    &-toolkit {
        margin: 3rem .5rem;

        span {
            font-size: 1.2rem;
            font-weight: 500;
            color: $primary-color;
        }

        ul {
            margin: .5rem 0 0 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: .5rem;

            li {
                padding: .3rem .5rem;
                width: fit-content;
                color: $secondary-blue-color;
                border: 1px solid $secondary-blue-color;
                border-radius: $small-button-border-radius;
                font-size: .8rem;
            }
        }
    }

    &-overview {
        margin: 3rem .5rem;
    }

    &-highlights {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 3rem .5rem;

        h2 {
            margin: 0;
        }

        .highlight-item {
            padding: 1rem;
            background-color: $surface-color;
            border-radius: $large-button-border-radius;

            img {
                width: 100%;
                height: 10rem;
                object-fit: cover;
                border: 1px solid $secondary-light-gray-color;
                border-radius: $large-button-border-radius;
            }

            p {
                margin-top: 1.2rem;
            }
        }
    }

    &-insights {
        margin: 3rem .5rem;
    }

    @media (min-width: 576px) {
        &-content {
            max-width: 630px;
        }

        &-highlights {
            gap: 1.5rem;

            .highlight-item  {
                display: flex;
                align-items: center;
                max-width: 630px;

                img {
                    width: 10rem;
                }

                p {
                    margin: 1.2rem;
                    margin-left: 1.7rem;
                }
            }
        }
    }

    @media (min-width: 768px) {
        &-container {
            display: flex;
            gap: 2rem;
        }

        &-content {
            // flex-basis: 70%;
        }

        &-h1 {
            margin: 0 calc(50% - 50vw);
        }

        &-banner {
            margin: 0 calc(50% - 50vw);
        }
    }
}
