@import '../default/variables.scss';

.offcanvas-body p {
    margin: 0;
}

.offcanvas-header {
    color: $primary-color ;
}

.accordion-button {
    color: $primary-color ;
}

.accordion-button:not(.collapsed ) {
    color: $primary-color ;
    background-color: $secondary-light-gray-color ;
}

.options label {
    margin: 1.5rem 0;
    padding: 0 1.5rem 1rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    cursor: pointer;
}

input[type="radio"] {
    opacity: 0;
}

.value {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 40px;
    border-radius: 20px;
}

.value:hover {
    background: $secondary-light-gray-color ;
}

.value::before {
    content: "";
    position: absolute;
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #bababa;
    outline: 0px solid $secondary-pink-color ;
    transition: 0.4s;
}

input[type="radio"]:checked~.value {
    color: $primary-white-color ;
    border-width: 5px;
    background: $secondary-pink-color ;
    transition: 0.4s;
}

input[type="radio"]:checked~.value::before {
    outline-width: 5px;
    background: $primary-white-color ;
}

.checked {
    background-color: $secondary-light-pink-color ;
    border-radius: $large-button-border-radius ;
}

.options p {
    margin: 0;
    width: fit-content;
}

.options span {
    margin-left: .5rem;
}

.options img,
.step-two img {
    width: 150px;
}

.step-two img {
    margin: 2rem 0;
}

.pet-info {
    margin: 1.5rem 0;
    padding-bottom: 1rem;
    border: 1px solid $secondary-light-gray-color ;
    border-radius: $large-button-border-radius ;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #004574;
}

.pet-info span {
    font-weight: 600;
}

.css-gavykb-MuiChip-root {
    font-family: 'Lexend', sans-serif;
    ;
    background-color: $primary-white-color ;
    color: $primary-color ;
}

.css-gavykb-MuiChip-root {
    color: $primary-color ;
}

.selected {
    background-color: $primary-color ;
    border-radius: $large-button-border-radius  $large-button-border-radius  0 0;
    color: $primary-white-color ;
    width: 100%;
    margin: 0;
    padding: .5rem 1rem;
}

.pet-info p:not(.selected) {
    padding: .5rem 1rem 0 1rem;
}

.pet-btns {
    display: flex;
    gap: max(10%, 1rem);
    margin: 1rem 0;
}

.pet-btns button {
    width: 150px;
}

.feed-btn {
    /* margin-right: .5rem; */
}
