@import '../default/variables.scss';

.header {
    padding: 0 .5rem;
    margin: 1rem;
    border-radius: $large-button-border-radius;
    position: fixed;
    bottom: 3rem;
    left: 0;
    right: 0;
    z-index: 10;
    backdrop-filter: blur(3px);
    /* display: none; */

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-evenly;

        .logo {
            display: none;
        }

        a,
        .nav-pet-btn {
            padding: .75rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
        }

        a,
        span {
            font-size: 0.75rem;
        }

        a:visited {
            /* color: $primary-color ; */
        }
    }

    @media (min-width: 768px) {
        position: unset;
        padding: 0 1rem;
        margin: 0;
        border-radius: unset;

        background-color: $primary-color;
        box-shadow: none;

        ul {
            align-items: center;

            .icon {
                display: none;
            }

            a {
                color: $primary-white-color;
                font-size: 1rem;
            }

            .home-link {
                display: none;
            }

            .logo {
                margin-right: auto;
                display: block;

                a {
                    font-weight: 500;
                    font-size: 1.2rem;
                }
            }

            .pet-link {
                display: none;
            }
        }
    }
}

.home-banner {
    height: 100vh;
    /* text-align: center; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* position: relative; */

    .banner-content {
        position: absolute;
        left: 0;
        top: 5rem;
        right: 0;
        margin: 0 auto;

        .entry-title {
            font-size: max(70%, 4.3rem);
            text-align: center;
        }

        .entry-content {
            font-size: min(1.2rem, 2rem);
            text-align: center;
        }
    }
}

@media (min-width: 576px) {
    /* .header .home-link{
        display: none;
    } */
}
