@import '../default/variables.scss';

.home-banner {
    height: 100vh;
    position: relative;
    z-index: -1;
    margin: 0 calc(50% - 50vw);
    overflow: hidden;
}

.home-banner-mask {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
}

.home-banner-wall,
.home-banner-left-stairs,
.home-banner-right-stairs {
    position: absolute;
    height: 100vh;
    object-fit: cover;
}

.home-banner-wall {
    object-fit: cover;
    z-index: 2;
    overflow: hidden;
}

.home-banner-left-stairs {
    z-index: 3;
}

.home-banner-right-stairs {
    z-index: 4;
}

.banner-content {
    position: absolute;
    
    margin: 50% auto;
    width: 100%;
    text-align: center;
    z-index: 1;
    @media (min-width:650px) {
        margin: 15rem auto;
    }

    .entry-title {
        font-size: 2.5rem;
        margin-bottom: .7rem;

        @media (min-width:460px) {
            font-size: 3rem;
        }

        @media (min-width:$sm) {
            font-size: 3.2rem;
        }

        @media (min-width:$md) {
            font-size: 3.5rem;
        }

        @media (min-width:$lg) {
            font-size: 4rem;
        }
    }

    .entry-content {
        font-size: min(1.2rem, 2rem);

        @media (min-width:$md) {
            font-size: 1.2rem;
        }

        @media (min-width:$lg) {
            font-size: 1.5rem;
        }
    }

    
}
